.form-block {
    margin-bottom: 0 !important;
    z-index: 2;

    &::before {
        content: '';

    }

    &__bg-image {

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 105%;
            object-fit: cover;
            object-position: top;
        }
    }

    .section-header {
        padding: 8rem 0 2rem;
        color: $white;

        @media screen and (min-width: $laptop) {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10rem;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 14rem;
            font-size: 1.4rem;
        }

        .section-title {
            color: $white;
            margin-bottom: 1rem;
        }
    }

    &__form {

        @media screen and (min-width: $laptop) {
            max-width: 1000px;
            margin: 0 auto;
        }

        .gfield_required_text {
            display: none;
        }

        .gfield {
            background-color: $white;
            border-radius: $input_border_radius;
            padding: 0 1rem;
            overflow: hidden;

            &.no-bg {
                background-color: transparent;
                color: $white;
            }

            input {
                border-radius: 0;
            }

            &--input-type-html {
                padding: 0.5rem 0;
            }

            .ginput_container_radio {
                display: flex;
                padding-left: 1rem;

                .gchoice {
                    display: inline-block;
                    margin-left: 1rem;

                    [type="radio"],
                    [type="checkbox"] {
                        border-color: $black;
                        border-width: 1px;
                        border-radius: 50%;
                    }
                }
            }

            &--type-radio {
                margin-top: 0 !important;
                padding-left: 0;
                border-radius: 0;
                margin-left: 0;
                padding-top: 0.25rem;
                padding-bottom:0.25rem;
            }

            &--type-email,
            &--type-phone,
            &--type-text,
            &--input-type-phone,
            &--input-type-text {

                &.stacked {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    input {
                        padding: 0.5rem;
                    }
                }

                &:not(.stacked) {
                    display: flex;
                    align-items: center;

                    .ginput_container {
                        flex: 1;
                    }
                }

            }
        }

        .gform_button {
            background-color: $orange;
            border-color: $orange;
            color: $white;
        }
    }

    .svg-icon {
        &--bottom-curve {
            position: absolute;
            left: -5vw;
            bottom: 0;
            transform: translateY(65%);
            width: calc(100% + 5vw);
            height: auto;

            svg path {
                fill: $teal
            }

            @media screen and (min-width: $laptop) {
                transform: translateY(80%);
            }

            .positioner {
                position: relative;
            }
        }
    }
}