.form-block {
    padding: 3rem 1rem;
    margin-bottom: 0 !important;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $laptop) {
        padding: 4rem 3rem;
    }

    @media screen and (min-width: $desktop_lg) {
        padding: 8rem 3rem;
    }

    .section-header {
        *:not(.btn) {
            color: $dgray;
        }
    }

    &__box {
        background-color: rgba($color: $white, $alpha: 0.8);
        padding: 2rem 1rem;

        @media screen and (min-width: $laptop) {
            padding: 3rem;
        }
    }

    &__form {
        p {
            margin: 0;
        }

        label {
            text-transform: uppercase;
            font-weight: bold;
        }

        [type="submit"] {
            margin-bottom: 1.5rem;
            background: $primary;
            color: $white;

            &:hover {
                color: $white;
                // background: lighten($black, 10);
                background: color-mix(in srgb, $primary, #fff 15%);
            }
        }

        .form-row {
            margin-bottom: 0.5rem;

            @media screen and (min-width: $laptop) {
                display: flex;

                .form-col {
                    width: 50%;
                    padding: 0.25rem;
                }
            }
        }

        .form-grid {
            margin-bottom: 0.5rem;

            @media screen and (min-width: $laptop) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 0.5rem;
            }
        }
    }


}