.form-block {
    padding: 3rem 1rem;
    margin-bottom: 0 !important;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $laptop) {
        padding: 4rem 3rem;   
    }

    @media screen and (min-width: $desktop_lg) {
        padding: 6rem 3rem;
    }

    .section-header {
        
    }

    &__box {
        background-color: rgba($color: $white, $alpha: 0.8);
        padding: 2rem 1rem;

        @media screen and (min-width: $laptop) {
            padding: 3rem;
        }
    }

    &__form {
        p {
            margin: 0;
        }
        .form-row {
            @media screen and (min-width: $laptop) {
                display: flex;
                .form-col {
                    width: 50%;
                    padding: 0.25rem;
                }
            }
        }
    }

    
}