.icon-text-blocks {

    @media screen and (min-width: $laptop) {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .btn {
        margin-top: 1.5rem;
    }

    &__blocks {
        padding: 1rem;

        @media screen and (min-width: $laptop) {
            padding: 2rem 1.5rem;
        }
    }

    &__block {
        color: $primary;

        &-icon {
            height: 115px;

            img {
                max-height: 100%;
            }
        }

        &-title {
            margin: 0.5rem 0 0;
        }

        @media screen and (min-width: $laptop) {
            font-size: 1.1rem;
            width: 25%;
        }
    }
}