.image-content-blocks {
    padding-top: 0;

    .section-header {
        position: relative;

        .row {
            @media screen and (min-width: $laptop) {
                flex-wrap: nowrap;
                align-items: center;
                .col {
                    width: 50%;
                }
            }
        }
    }

    &__float-image {
        margin-top: -20%;
        @media screen and (min-width: $laptop) {
            margin-top: -10%;
            transform: translate(-20%, 0%);
        }
        img {
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 5px solid $primary;
            object-fit: cover;
            transform: scale(1.1);
            
        }
    }


    &__wrapper {
        @media screen and (min-width: $desktop) {
            // max-width: 1000px;
        }
    }

    &__block {
        margin-bottom: 1.5rem;

        &--image {
            margin-bottom: 1rem;

            img {
                aspect-ratio: 1/1;
                border: 5px solid $primary;
                object-fit: cover;
            }
        }

        @media screen and (min-width: $laptop) {
            &:nth-of-type(even) {
                .content {
                    padding-left: 3rem;
                }
            }

            &:nth-of-type(odd) {
                .content {
                    padding-right: 3rem;
                }
            }

            .col {
                &--image {
                    width: 30%
                }

                &--content {
                    width: 65%
                }
            }
        }
    }

}