.logos-video-section {
    position: relative;

    
    .svg-icon {
        &--mobile-wave,
        &--wave {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-20%);
            width: 100%;
            height: auto;
            z-index: -1;

            .positioner {
                position: relative;
            }
        }

        &--mobile-wave {
            transform: translateY(-10%);
        }
    }

    .logos-slider {

        padding: 1.5rem 0 2.5rem;


        &__wrapper {
            --swiper-theme-color: #fff;
            --swiper-pagination-bullet-inactive-color: #fff;
            padding: 0 2rem;
            width: 90%;

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }

            .swiper-pagination {
                bottom: 0;
            }

            @media screen and (min-width: $laptop) {
                margin-bottom: 1rem;
          
                .swiper-button-next {
                    right: -1rem;
                }

                .swiper-button-prev {
                    left: -1rem;
                }

                .swiper-pagination {

                    bottom: 0;
                }
            }

            .swiper-slide {
                height: auto;
            }




        }

        &__logo {
            max-width: 180px;
            margin: 0 auto;
            @media screen and (min-width: $laptop) {
                max-width: unset;
                padding: 0 0.5rem;
            }
        }

    }

    .video-section {
        &__title {
            color: $white;
            margin-bottom: 1.5rem;
        }

        &__iframe {
            aspect-ratio: 16/9;
            border-radius: 35px;
            overflow: hidden;

            img,
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        &__play {
            position: absolute;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;

            .svg-code {
                height: 4rem;
                width: 4rem;
            }
        }

        &__cta {
            margin-top: 1.5rem;
            @media screen and (min-width: $laptop) {
                margin-top: 2rem;
            }
        }
    }
}