.hero {
    background-size: cover;
    background-position: center;
    margin-top: 0 !important;
    padding: 0;

    @media screen and (min-width: $laptop) {
        padding-top: 1.5rem;
    }

    @media screen and (max-width: $tablet) {
        padding-bottom: 0;
    }

    .hero__bg-graphic {
        position: absolute;
        top: 0;
        width: 200%;
        max-width: unset;
        opacity: 0.5;
        @media screen and (min-width: $laptop) {
            top: 0;
            left: 30%;
            width: auto;
            width: 70%;
            transform: translateY(-10%);
        }
    }

    h1 {
        position: relative;
        color: $dgray;
        font-weight: 400;
        text-transform: none;
        span {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__row {
        @media screen and (min-width: $laptop) {
            flex-wrap: nowrap;
            align-items: center;
        }

        .col {
            &--content {
                padding: 1.5rem 1rem;
            }

            @media screen and (min-width: $desktop_lg) {
                &--content {
                    width: 60%;
                }

                &--image {
                    width: 40%;
                }
            }
        }

        
    }

    &__content {
        position: relative;
        color: $dgray;
        @media screen and (min-width: $laptop) {
            font-size: 1.2rem;
            line-height: 1.2;
        }

        @media screen and (min-width: $desktop_lg) {
            width: 90%;
            font-size: 1.5rem;
        }
    }

    &__image {
        position: relative;
        z-index: 2;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            background-color: $lgray;
            bottom: -1px;
            left: 0;
        }

        @media screen and (min-width: $laptop) {
            &::before {
                display: none;
            }
        }

        img {
            position: relative;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 5px solid $primary;
            object-fit: cover;
            transform: scale(1.1);
            width: 100%;

            @media screen and (min-width: $laptop) {
                transform: scale(1.1) translate(10%, 5%);
            }
        }
    }

    &__usps {
        background-color: $green;
        padding: 2rem 1.5rem;
        --swiper-theme-color: #fff;
        --swiper-pagination-bullet-inactive-color: #fff;

        background: linear-gradient(to right, rgba($lgray, 1) 0%, rgba($lgray, 1) 100%);
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100% - 1.5rem);
            background: linear-gradient(to top, rgba($black, 0.6) 0%, rgba($black, 0.5) 10%, rgba($black, 0) 100%);
            bottom: 1.5rem;
            left: 0;

        }

        .swiper-pagination {
            bottom: 0;
        }

        .swiper {
            z-index: 3;
        }

        .svg-icon {
            .cls-1 {
                fill: $white !important;
            }
        }

        &--wrapper {
            padding-bottom: 2rem;
        }

        @media screen and (min-width: $tablet) {
            padding: 1rem 0 3rem;
        }

        @media screen and (min-width: $laptop) {
            padding-top: 0;
            background: linear-gradient(to right, rgba($lgray, 1) 0%, rgba($lgray, 0.6) 90%, rgba($lgray, 0.2) 100%);
            font-size: 1.1rem;
        }

        &-subcontent {
            color: $white;
            @media screen and (min-width: $desktop) {
                width: 80%;
            }
        }

        &--block {
            color: $white;

            @media screen and (min-width: $tablet) {
                padding: 1rem;
                width: calc(33% - 3rem);
                margin: 0 1.5rem;
            }
        }

        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            height: 140px;
            
            @media screen and (min-width: $laptop) {
                max-width: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                img {
                    max-width: 100%;
                }
            }

            img {
                margin: 0 auto;
                max-height: 100%;
            }
        }

        &--text {
            text-transform: uppercase;
            text-wrap: balance;
            line-height: 1.1;
            width: 70%;
            margin: 0 auto;

            @media screen and (min-width: $laptop) {
    
                width: 100%;
            }
        }

        
    }
}