@import '../includes/fonts';
@import '../includes/variables';
@import '../includes/utils';
@import '../includes/lightbox';


html, body {
    font-size: 16px;
}

body {
    background: $white;
    color: $xdgray;
    font-family: $sans;
    line-height: $line-height;

    * {
        font-feature-settings: "liga";
        box-sizing: border-box;

        &:focus {
            outline: 0;
            box-shadow: 0;
        }
    }

    &.blur {
        header, footer, section {
            filter: blur(4px);
        }
    }

    &.overlay {
        &:before {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 4;
            background-color: rgba(0, 0, 0, .75);
        }
    }

    &.no-scroll {
        overflow: hidden;
        height: 100vh;

        @supports (-webkit-overflow-scrolling:touch) {
            height: 100%;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

section,
.section {
    padding: 2rem 1.5rem;
    position: relative;
    overflow: hidden;

    &-bg {
        padding: 3rem 1.5rem;
    }

    &:first-child:not(.section-bg),
    &:not(.section-bg) + .section-bg,
    &-bg + section:not(.section-bg) {
        margin-top: 2rem;
    }

    &:last-child:not(.section-bg) {
        margin-bottom: 2rem;
    }

    @media (min-width:$mobile) {
        padding: 3rem;

        &-bg {
            padding: 6rem 3rem;
        }
    }
}

.section {
    &__header {
        + .section__content {
            margin-top: 2rem;
        }
    }
}

.container {
    max-width: $container_sm;
    margin: 0 auto;

    @media (min-width:$laptop) {
        max-width: $container;

        &--small {
            max-width: $container_sm;
        }

        &--medium {
            max-width: $container_md;
        }

        &--large {
            max-width: $container_lg;
        }
    }

}

main {
    @extend %customLists;

    @media screen and (min-width: $desktop) {
        font-size: 1.2rem;
    }

    blockquote {
        line-height: 1.4;
        font-size: 1.25rem;
        position: relative;

        cite {
            font-size: .9rem;
        }

        @media (min-width: $tablet) {
            font-size: 1.5rem;
        }
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $heading_color;
    font-family: $heading_font;
    font-weight: $heading_weight;
    line-height: 1.2;
    margin: 0;
    text-wrap: balance;
    text-transform: uppercase;

    * + & {
        margin-top: 1.5em;
    }

    .preheading + & {
        margin-top: .75rem;
    }

    &:first-child {
        margin-top: 0;
    }
}

@for $i from 1 through 6 {

    .h#{$i} + h1,
    h#{$i} + h1,
    .h#{$i} + h2,
    h#{$i} + h2,
    .h#{$i} + h3,
    h#{$i} + h3,
    .h#{$i} + h4,
    h#{$i} + h4,
    .h#{$i} + h5,
    h#{$i} + h5,
    .h#{$i} + h6,
    h#{$i} + h6 {
        margin-top: .75rem;
    }
}

h1, .h1,
h2, .h2 {
    line-height: 0.9;
}


h1, .h1 {
    font-size: $heading_h1__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h1;
    }

}

h2, .h2 {
    font-size: $heading_h2__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h2;
    }
}

h3, .h3 {
    font-size: $heading_h3__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h3;
    }
}

h4, .h4 {
    font-size: $heading_h4__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h4;
    }
}

h5, .h5 {
    font-size: $heading_h5__mobile;

    @media (min-width: $laptop) {
        font-size: $heading_h5;
    }
}

h6, .h6 {
    font-size: $heading_h6__mobile;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.preheading,
.subheading {
    font-size: .9rem;
}

a {
    color: $link_color;
    text-decoration: underline;
    text-underline-offset: .25em;
}

.btn {
    @extend %button;
    background: $orange;
    color: $white;

    &:hover {
        color: $white;
        // background: lighten($black, 10);
        background: color-mix(in srgb,$orange,#fff 15%);
    }

    &:focus {
        text-decoration: underline;
    }

    &--sm,
    &--small {
        padding: .5rem;
        font-size: .75rem;
        min-width: 0;
        width: auto;
        margin-right: .5rem;

        &.btn--text {
            padding: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &--lg,
    &--large {
        padding: .75rem 1.5rem;
        font-size: 1rem;
    }

    &--secondary,
    &--outline {
        background: transparent;
        color: $black;
        border-color: $black;

        &:hover {
            background: transparent;
            color: $black;
        }
    }

    &--secondary {
        background-color: $white;
        color: $black;
        
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    &--text {
        display: inline-block;
        background: transparent;
        color: $black;
        padding: 0;
        margin: .75rem auto;
        margin-right: 1.25rem;

        &:hover {
            text-decoration: underline;
            color: $black;
            background: transparent;
        }

        .btn + & {
            margin-top: 1.25rem;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &--rounded {
        border-radius: 3rem;
    }


    &:disabled {
        background: $xxlgray;
        color: $gray;
    }

    @media (min-width: $mobile) {
        &--text {
            .btn + & {
                margin-top: .75rem;
                margin-left: .5rem;
            }
        }

        &--small {
            &.btn--text {
                margin-top: .5rem;
                margin-bottom: .5rem;
            }
        }
    }
}

.video-embed {
    position: relative;
    overflow: hidden;
    margin: auto;
    aspect-ratio: 16/9;
    background: $black;

    &__cover, &__embed, iframe, video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    &__cover {
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
    }

    &__cover:hover &__play {
        transform: scale(1.1);
    }

    &__play {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform .2s ease;
        z-index: 1;

        span {
            @extend .h6;
            color: $white;
            font-weight: $thick;
            margin-top: 1.5rem;
        }
    }
}

.social-links ul {
    display: flex;
    align-items: center;
    margin: 2rem 0 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;

        + li {
            margin-left: 1rem;
        }
    }

    .svg-icon {
        height: 1.25rem;
        width: 1.25rem;

        path {
            fill: $white;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {

            .svg-icon path {
                fill: $white;
            }
        }
    }
}

code {
    background: $xlgray;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .1rem;
    border-radius: .15rem;
}

.site-logo {
    display: inline-block;
    vertical-align: middle;

    svg, img, a {
        display: block;
    }

    svg, img {
        max-width: 100%;
    }
}

.wp-pagenavi {
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > span,
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .5rem;
        height: 2rem;
        min-width: 2rem;
        border: 1px solid transparent;
        line-height: 1;
        padding: .5rem;
        text-decoration: none;
    }

    .current {
        background: $black;
        color: $white;
    }
}

p {
    font-weight: 500;
}

.section-padding-bottom {
    padding-bottom: 3rem;
}