.gheader {
    z-index: 10;
    margin: 0;
    background-color: $primary;

    .btn {
        display: flex;
        align-items: center;
        font-weight: 400;
        border-color: transparent;
        font-size: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        position: absolute;
        right: 5rem;
        top: 50%;
        transform: translateY(-50%);
        
        span {
            margin-left: 0.5rem;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1600px;
        @media screen and (min-width: $desktop_lg) {
            padding: 0 1.5rem;
        }
    }

    &-content {
        padding: .75rem 1rem;
    }

    &__logo {
        z-index: 100;
        max-width: 180px;
        transition: max-width ease 400ms;
    }

    &.sticky {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        border-bottom: 1px solid transparent;
        transition: background .15s ease, box-shadow .15s ease, border-color .15s ease;

        &--scrolled {
            @include box-shadow;
            margin: 0;
            
            .gheader__logo {
                max-width: 150px;
            }
        }
    }
}

@media (max-width: $mobile - 1) {
    .gheader {
        &__logo {
            max-width: 200px;
        }
    }
}

@media (max-width: $laptop - 1) {
    .gheader {

        &__logo {
            max-width: 140px;
        }
    }
}